.vscode/
node_modules/
out/
.vscode-test/
data/
src/client
.gobi

exe
bin
assets
tmp

gui/**

.devcontainer
.github

gobi_rc_schema.json

e2e/_output
e2e/.test-extensions
e2e/storage
e2e/vsix
e2e/test-gobi/*
!e2e/test-gobi/config.json
e2e/test-gobi-yaml/*
!e2e/test-gobi-yaml/config.yaml
config-yaml-schema.json
src/.buildTimestamp.ts